config subscriber 'subscriber_info'
        option 'enable' '0'
        option 'host' 'localhost'
        option 'port' '1883'
        option 'username' 'user'
        option 'password' 'pass'
        list 'topic' 'uptime'
        list 'topic' 'temperature'
        list 'topic' 'wan'


config event
        option 'topic' 'uptime'
        option 'parameter' 'time'
        option 'value_type' 'digit'
        option 'comparison' '>'
        option 'value' '10'
        option 'email' 'my@email.com'
        list 'receiver' 'client@email.com'
        list 'receiver' 'client2@email.com'

config event
        option 'topic' 'temperature'
        option 'parameter' 'temp'
        option 'value_type' 'digit'
        option 'comparison' '>'
        option 'value' '10'
        option 'email' 'my@email.com'
        list 'receiver' 'client@email.com'
        list 'receiver' 'client2@email.com'

config event
        option 'topic' 'wan'
        option 'parameter' 'name'
        option 'value_type' 'string'
        option 'comparison' '>'
        option 'value' 'vardas'
        option 'email' 'my@email.com'
        list 'receiver' 'client@email.com'
        list 'receiver' 'client2@email.com'


