config subscriber 'subscriber_info'
        option 'enable' '0'
        option 'host' '192.168.1.1'
        option 'port' '1883'
        option 'username' 'tester'
        option 'password' 'tester'
        option 'tls' '/etc/certificates/cert.cert.pem'
        list 'topic' 'router/1122393453/uptime'
        list 'topic' 'router/1122393453/name'
        list 'topic' 'router/1122393453/wan'
        list 'topic' 'device/thermometer'
        list 'topic' 'device/test'


config event
        option 'topic' 'router/1122393453/uptime'
        option 'value_type' 'digit'
        option 'comparison' '>'
        option 'value' '100'
        option emailgroup 'RUTX10'
        list 'recipEmail' 'augustas.kaminskas@teltonika.lt'

config event
        option 'topic' 'router/1122393453/name'
        option 'value_type' 'string'
        option 'comparison' '>='
        option 'value' 'RUTX1000XXXX'
        option emailgroup 'RUTX10'
        list 'recipEmail' 'augustas.kaminskas@teltonika.lt'

config event
        option 'topic' 'router/1122393453/wan'
        option 'value_type' 'string'
        option 'comparison' '=='
        option 'value' '192.168.83.138'
        option emailgroup 'RUTX10'
        list 'recipEmail' 'augustas.kaminskas@teltonika.lt'

config event
        option 'topic' 'device/thermometer'
        option 'parameter' 'temperature'
        option 'value_type' 'digit'
        option 'comparison' '>'
        option 'value' '20'
        option emailgroup 'RUTX10'
        list 'recipEmail' 'augustas.kaminskas@teltonika.lt'

config event
        option 'topic' 'device/thermometer'
        option 'parameter' 'temperature'
        option 'value_type' 'digit'
        option 'comparison' '=='
        option 'value' '30'
        option emailgroup 'RUTX10'
        list 'recipEmail' 'augustas.kaminskas@teltonika.lt'

config event
        option 'topic' 'device/test'
        option 'parameter' 'word'
        option 'value_type' 'string'
        option 'comparison' '=='
        option 'value' 'testas testas'
        option emailgroup 'RUTX10'
        list 'recipEmail' 'augustas.kaminskas@teltonika.lt'
